In [ ]:
import pandas as pd
data_stocks = pd.read_csv('MSFT.csv')
data_stocks.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2000-03-06  48.00000  48.68750  45.06250  45.31250  29.072731   93609400
1  2000-03-07  48.06250  48.75000  45.96875  46.43750  29.794542  135061000
2  2000-03-08  46.90625  48.09375  45.50000  47.78125  30.656700   94290000
3  2000-03-09  47.65625  50.00000  47.50000  50.00000  32.080254   88198800
4  2000-03-10  49.78125  51.25000  49.75000  50.50000  32.401062   85589000